@import url("./media.css");
@import url("./variaveis.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--var-cor-fundo);
}
p {
  color: var(--var-cor-texto);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

h1 {
  color: var(--var-cor-titulo);
  font-weight: 700;
  font-size: 35px;
}

#cash {
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 86px;
  gap: 20px;
}

#cash h2 {
  color: var(--var-cor-verde);
  font-size: 34px;
}

#cash p {
  text-decoration: line-through;
}

#buy {
  background-color: var(--var-cor-verde);
  color: var(--var-cor-fundo-secundario);
  border-radius: 8px;
  text-align: center;
}

#buy img {
  margin-right: 2%;
}

#buy:hover {
  background-color: var(--var-cor-verde-hover);
  transition: 1s;
  cursor: pointer;
}

.attribution {
  color: var(--var-cor-titulo);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--var-cor-titulo);
}