/* @media screen and (max-width:374px) {
  #desktop_image{
    display: none;
  }
} */

@media screen and (min-width:375px) {
  #container_information{
    padding: 6%;
    background-color: black;
  }
  #container_information{
    border-radius: 0 0 14px 14px;
    background-color: white;
    padding: 10%;
  }
  #mobile_image{
    border-radius: 14px 14px 0 0;
    width: 100%;
    height: 100%;
  }
  #desktop_image{
    display: none;
  }
} 