:root{
  --var-cor-fundo: hsl(30, 38%, 92%);
  --var-cor-verde: hsl(158, 36%, 37%);
  --var-cor-titulo: hsl(212, 21%, 14%);
  --var-cor-texto: hsl(228, 12%, 48%);
  --var-cor-fundo-secundario: hsl(0, 0%, 100%);
}